@import './variables';
@import './common';
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
     :focus {
        outline: none;
    }
}

// overide
.modal-content {
    border-radius: 0px;
}

.form-control {
    font-size: 13px;
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1240px !important;
    }
}

@import './pages/header';
@import './pages/header_mobile';
@import './pages/modal_custom';
@import './pages/wrap-center';
@import './pages/profile_member';
@import './pages/profile_component';
@import './pages/profile_description';
@import './pages/profile_project';
@import './pages/profile_rating';
@import './pages/home';
@import './pages/footer';
@import './pages/block1';
@import './pages/block2';
@import './pages/market';
@import './pages/company';
@import './pages/calendar';
@import './pages/search-job';
@import './pages/edit_profile_member';
@import './pages/nap_token_member';
@import './pages/chi_tiet_du_an';
@import './pages/input_file';
@import './pages/createEditComponent';
// project
@import './pages/project-index';
// thi-truong
@import './pages/thitruong-index';
@import './pages/bannerInfo'