#block2 {
    background: #f2f2f2;
    min-height: 366px;
    padding: 73px 0;
    .boxinfo {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        margin: 0 16px !important;
        margin: 0 auto;
        border-radius: 9px;
        overflow: hidden;
        height: auto;
        .top {
            align-items: center;
            background: linear-gradient(94.56deg, rgba(25, 137, 198, 0.94) 36.02%, rgba(231, 144, 29, 0.94) 247.84%);
            padding: 27px 37px;
            width: 100%;
            .name {
                font-weight: bold;
                color: #f2f2f2;
                margin-bottom: 8px;
            }
            .company {
                color: #F2C94C;
                font-weight: 500;
            }
        }
        .bot {
            padding: 23px 28px 20px;
            p {
                font-weight: 500;
                color: $main-black;
                line-height: 24px;
            }
        }
    }
    .slick-list {
        margin: 0 10px;
    }
    .slick-arrow {
        &.slick-prev {
            &::before {
                content: '';
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid $main-black;
                font-size: 0;
            }
        }
        &.slick-next {
            &::before {
                content: '';
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid $main-black;
                font-size: 0;
            }
        }
    }
}

@media screen and (max-width:1300px) {
    #block2 {
        .slick-arrow {
            &.slick-prev {
                left: -5px;
            }
            &.slick-next {
                right: -5px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    #block2 .boxinfo .text {
        margin: 20px !important;
    }
    #block2 {
        .slick-arrow {
            &.slick-prev {
                left: -5px;
            }
            &.slick-next {
                right: -5px;
            }
        }
    }
}

@media screen and (max-width:556px) {
    #block2 {
        .boxinfo {
            .top {
                flex-direction: column;
                text-align: center;
                padding: 26px 1rem 4px;
            }
            .bot {
                padding: 23px 20px 20px;
            }
        }
    }
}