#block2 {
    background: #f2f2f2;
    height: 366px;
    padding: 73px 0;
    .boxinfo {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        padding: 0;
        border-radius: 5px;
        .text {
            .info {
                margin-top: 42px;
                font-size: 17px;
                font-weight: 700;
                line-height: 30px;
                color: #198AC6;
                span {
                    font-weight: 400;
                }
            }
            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 26px;
                font-style: italic;
                margin-top: 11px;
            }
        }
    }
    .slick-arrow{
        &.slick-prev{
          margin-left: 5px;
          &::before{
            content: '';
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right:10px solid #4F4F4F;
            font-size: 0;
          }
        }
        &.slick-next{
            margin-right: 5px;
            &::before{
                content: '';
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid #4F4F4F;
                font-size: 0;
            }
        }
    }
}