


.mobileMenu {
    width: 100%;
    background-color: rgba(24, 24, 24, 0.5);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    .menuItem {
        height: 100%;
        background: white;
        float: right;
        .group-btn{
            justify-content: space-between;
            border-top: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
            .btn-register{
                padding: 0px 20px;
                border: none;
                border-radius: 4px;
                width: 80%;
                display: block;
                text-align: center;
                margin: 0 15px;
                font-weight: 600;
                background: #209cd7;
                color: white;
                line-height: 26px;
                height: 30px;
                &.signin{
                    background: #E78F1C;
                }

            }
        }
        .item-list{
           li{
                cursor: pointer;
                list-style: none;
                padding: 10px 30px;
                border-bottom: 1px solid #dee2e6;

                &:first-child {
                    border-top: 1px solid #dee2e6;
                }
                span{
                    font-weight: 600;
                    color:#444 ;
                }
            }
        }
    }

}

@media screen and (max-width:768px)  {
    .mobileMenu {
       .menuItem {
         width: 85%;
       }
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .mobileMenu {
        .menuItem {
            width: 50%;
        }
    }
}


