.navbar-toggler {
    padding: 4px;
    height: 33px;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
}
.cover-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    nav {
        min-height: 69px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .logo{
        height: 40px;
    }
    .sub-menu{
      cursor: pointer;
      height: 25px;
      position: relative;
     &::after {
         content: '';
         position: absolute;
         right: 0;
         top: 5px;
         width: 1px;
         height: 14px;
         background-color:  rgba(130, 130, 130, 0.5);
     }
      &.menu-right{
        &:nth-child(2){
            padding-right: 10px !important;
            &::after {
                content: '';
                position: absolute;
                width: 0px;
            }
        }
      }
      &:last-child {
        &::after {
            content: '';
            position: absolute;
            width: 0px;
        }
      }
      span {
          font-weight: bold;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.84);
      }
      a{
          padding: 0;
      }
    }
    .btn-findjob {
      cursor: pointer;
      font-weight: bold;
      width: 100px;
      height: 30px;
      padding: 2px 15px 0 16px;
      text-align: center;
      background: #198ac6;
      color: #f2f2f2;
      border-radius: 5px;
      outline: none;
      min-width: 100px;
      &:hover{
          text-decoration: none;
      }
    }
    .isLogin{
        padding: 0;
        // border-left: 1px solid rgba(130, 130, 130, 0.5);
        // border-right: 1px solid rgba(130, 130, 130, 0.5);
        display: flex;
        img{
            &:first-child{
                width: 21px;
                height: 21px;
                margin-right: 20px;
            }
        }
        .group-infor{
            display: flex;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 0;
            }
            .not-avatar{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                font-weight: bold;
                color: $main-color;
                align-items: center;
                border: 2px solid $main-color;
                margin-top: 5px;
            }
            #dropdown-infor{
                .height{
                    width: 1px;
                    background-color: #ADABAB;
                    margin: 2px 10px;
                    height: 15px;
                }
                .dropdown-toggle{
                    padding: 0;
                    color: rgba(0, 0, 0, 0.84);
                    font-size: 13px;
                    font-weight: bold;

                }
                .verify{
                    .b-dropdown-text{
                        padding: 10px 25px;
                        background-color: #E9E8E8;
                        span{
                            font-weight: bold;
                            &:first-child{
                                color: rgba(0, 0, 0, 0.84);
                            }
                            &:last-child{
                                color:#669519;
                            }
                        }
                        img{
                            width: 14px;
                            height: 12px;
                        }
                    }
                }
                .title{
                    .b-dropdown-text{
                        font-weight: bold;
                        color: $main-color;
                    }
                }
                .divider{
                    padding: 10px 25px;
                    hr{
                        margin: 0;
                    }
                }
                .dropdown-menu{
                    top: 54px !important;
                    left: unset !important;
                    right:10px !important;
                    width: 220px;
                    padding: 0;
                    position: absolute;
                    .dropdown-item{
                        font-weight: 500;
                        color: $main-black;
                    }
                }
                button{
                    &:focus{
                        outline: none;
                    }
                }
            }
            .cover-infor{
                justify-content: space-between;
                p{
                    margin-bottom: 0;
                    font-weight: bold;

                    &:first-child{
                        padding-right: 11px;
                        color: #828282;
                    }
                    &:nth-child(2){
                        padding-left: 11px;
                        border-left: 1px solid rgba(130, 130, 130, 0.5);
                        color: rgba(0, 0, 0, 0.84);
                        span{
                            color: #198AC6;;
                        }
                    }
                }
            }
        }
    }
    // Sub navbar
    .navbar-login{
        background-color: #22375C;
        min-height: 52px;
        justify-content: center;
        display: flex;
        align-items: center;
        .cover-navbar-login{
            display: flex;
            p{
                color: #E5E5E5;
                margin-top: 5px;
                margin-bottom: 0;
                font-weight: bold;
                span{
                    color:#F2C94C;
                }
                img{
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                    margin-bottom: 2px;
                }
            }
            .icon-email{
                width: 22px;
                height: 20px;
                margin-bottom: 5px;
            }
        }
    }
}




// LG
@media screen and (min-width:1200px) {

}
//lg -> xl
@media screen and (min-width:992px) and (max-width:1199px){
.cover-header{
    .sub-menu{
    border-right: none;
    padding: 0 10px !important;
    }
    .btn-findjob{
    margin-left: 0 !important;
    }
}

}
// md -> lg
@media screen and (min-width:768px) and (max-width:991px) {
    .cover-header{
        .sub-menu{
            padding: 0 !important;
            border-right: none;
            padding: 0 !important;
        }
        .btn-findjob{
            margin-left: 0 !important;
        }
        .navbar-nav{
            margin-left: 0 !important;

            .isLogin{
                padding-left: 0 !important;
            }
        }
        .navbar-login{
            overflow-x: auto;
            overflow-y: hidden;
            .cover-navbar-login{
                p{
                    margin-right: 15px !important;
                    min-width: 130px;
                }
            }
        }
    }

}
// sm -> md
@media screen and (min-width:576px) and (max-width:767px) {
    .cover-header{
        .navbar-nav{
            margin-left: 0 !important;
            .isLogin{
                padding-left: 0 !important;
            }
        }
        .navbar-login{
            overflow-x: auto;
            overflow-y: hidden;
            .cover-navbar-login{
                p{
                    margin-right: 15px !important;
                    min-width: 130px;
                }
            }
        }

    }
}
@media screen and (max-width:575px)  {
    .cover-header{
        .navbar-nav{
            margin-left: 0 !important;

            .isLogin{
                padding-left: 0 !important;
            }
        }
        .navbar-login{
            overflow-x: auto;
            overflow-y: hidden;
            .cover-navbar-login{
                p{
                    margin-right: 15px !important;
                    min-width: 130px;
                    &:nth-child(3){
                        margin-right: 0 !important;
                    }
                }
            }
        }

    }

}
.modal-login{
    padding: 24px;
    padding-top: 0;
    .form-group{
        input{
            &::placeholder{
                font-size: 13px;
                opacity: 0.3;
            }
        }
    }
    .btn-theme{
        padding: 10px 0.75rem !important;
        font-weight: 600;
        font-size: 13px;
        width: 100%;
        text-transform: uppercase;
        &.theme-blue{
            background-color: #209cd7;
            color: white;
        }
        &.theme-gg{
            border: 1px solid #999 ;
            color: black;
            background-color: white;
        }
        &.theme-fb{
            background-color: #3a71c5;
            color: white;
        }
        img{
            width: 35px;
            margin-top: -3px;
        }
    }
    .option{
        position: relative;
        .child{
            position: absolute;
            top: -10px;
            padding: 0 10px;
            span{
                background-color: white;
                width: 10px;
                margin: 0 auto;
                z-index: 10;
                padding: 0 14px;
            }
        }
    }
    p{
        span{
            color: $main-color;
            cursor: pointer;
        }
    }
}