#homeAid {
    background-color: rgba(25, 138, 198, 0.08);
    .box {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        .top {
            padding: 26px 48px 17px;
            border-bottom: 1px solid rgba(242, 242, 242, 1);
            ul {
                margin: 0;
                display: flex;
                li {
                    list-style: none;
                    border-right: .5px solid rgba(79, 79, 79, 1);
                    line-height: 15px;
                    a {
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 14px;
                        margin: 0 12px;
                        color: $main-black;
                    }
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
        .center {
            line-height: 26px;
            color: $main-black;
            padding: 38px 48px;
            .box-title {
                text-align: center;
                .img-text {
                    margin-top: 12px;
                }
            }
            .box-center {
                margin-top: 38px;
                .text {
                    font-size: 13px;
                    span {
                        color: $main-color;
                        font-weight: 700;
                    }
                }
                .heading {
                    font-weight: 700;
                    span {
                        color: $main-color;
                    }
                }
                ul {
                    font-size: 13px;
                    margin-left: 0;
                    list-style-position: inside;
                    span {
                        font-weight: 600;
                    }
                }
                .heading-end {
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
        .bottom {
            margin-top: 50px;
            .post,
            .report {
                width: 310px;
                height: 50px;
                font-weight: 600;
                color: #f2f2f2;
                text-align: center;
                line-height: 45px;
                border-radius: 5px;
            }
            .post {
                background-color: $main-color;
            }
            .report {
                background-color: #E78F1C;
            }
            img {
                position: relative;
                top: -155px;
            }
        }
    }
    span.aid {
        color: #294f81 !important;
    }
    span.home {
        color: $main-color !important;
    }
}