#homepage {
    // Start banner
    .banner {
        width: 100%;
        .cover-img {
            .img-slider {
                height: 450px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(45, 44, 44, 0.6);
                    z-index: 0;
                }
                .content-banner {
                    text-align: center;
                    z-index: 1;
                    p {
                        margin-bottom: 0;
                        &:first-child {
                            font-size: 25px;
                            color: #F2F2F2;
                            span {
                                color: #F2C94C;
                                font-weight: 600;
                            }
                        }
                        &:nth-child(2) {
                            font-size: 29px;
                            color: #F2F2F2;
                            font-weight: 400;
                            span {
                                &:first-child {
                                    font-weight: 400;
                                }
                                font-weight: 600;
                            }
                        }
                    }
                    .group-btn-banner {
                        justify-content: center;
                        .btn-project {
                            cursor: pointer;
                            box-sizing: border-box;
                            background-color: $main-color;
                            padding: 10px 30px;
                            color: #F2F2F2;
                            font-size: 15px;
                            font-weight: 500;
                            border-radius: 5px;
                            &.quote {
                                border: 1px solid #777777;
                                background-color: $main-black;
                            }
                        }
                    }
                }
            }
        }
        .slick-dots {
            bottom: 22px !important;
            button {
                &::before {
                    font-size: 15px;
                    color: #E5E5E5;
                    opacity: 0.5;
                }
            }
            .slick-active {
                button {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    // Start Category
    .category {
        .category-title {
            text-align: center;
            font-weight: 600;
            line-height: 31px;
            color: $main-color;
            .line {
                height: 3px;
                width: 10%;
                margin: 0 auto;
                background-color: #F2C94C;
            }
        }
        .caterogry-list {
            .cat-item {
                height: 250px;
                width: 100%;
                .content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    border-radius: 5px;
                    &:hover {
                        box-shadow: 0 5px 7px #ccc;
                    }
                    .item-detail {
                        height: 40px;
                        width: 100%;
                        text-align: center;
                        background: rgba(45, 44, 44, 0.81);
                        color: #F2F2F2;
                        align-items: center;
                        justify-content: center;
                        p {
                            margin-bottom: 0;
                            font-weight: 600;
                        }
                        img {
                            width: 24px;
                            height: 21px;
                            margin-right: 10px;
                        }
                    }
                    &.item-1 {
                        background-image: url('@/assets/img/category-1.png');
                    }
                    &.item-2 {
                        background-image: url('@/assets/img/category-2.png');
                    }
                    &.item-3 {
                        background-image: url('@/assets/img/category-3.png');
                    }
                }
            }
        }
    }
    // Start Describe
    .describe {
        background: rgba(25, 138, 198, 0.08);
        height: auto;
        width: 100%;
        .content-describe {
            .slogan {
                font-size: 30px;
                font-weight: 400;
                color: $main-color;
                margin-bottom: 0;
                span {
                    font-weight: 600;
                }
                &.slogan-mobile{
                    display: none;
                }
            }
            .describe-left {
                .block-content {
                    .block-title {
                        img {
                            width: 34px;
                            height: 34px;
                        }
                        p {
                            margin-bottom: 0;
                            margin-left: 15px;
                            font-size: 19px;
                            color: $main-color;
                            font-weight: 600;
                        }
                    }
                    .content {
                        p {
                            margin-bottom: 0;
                            font-size: 15px;
                            color: $main-black;
                            span {
                                font-weight: 600;
                                color: $main-black;
                            }
                        }
                    }
                }
                .btn-registration {
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 15px;
                    width: 200px;
                    height: 34px;
                    padding-top: 5px;
                    text-align: center;
                    background: #209cd7;
                    color: #F2F2F2;
                    border-radius: 5px;
                    outline: none;
                }
            }
            .describe-right {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    // Start Special Product
    #special-product {
        a{
            &:hover{
                text-decoration: none;
            }
        }
        .title {
            text-align: center;
            font-weight: 600;
            line-height: 31px;
            color: $main-color;
            .line {
                height: 3px;
                width: 10%;
                margin: 0 auto;
                background-color: #F2C94C;
            }
        }
        .list-item {
            .card-item {
                min-height: 330px;
                padding: 15px;
                a:hover {
                    text-decoration: unset;
                }
                .item {
                    width: 100%;
                    height: 100%;
                    .show-img {
                        height: 190px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        position: relative;
                        object-fit: cover;
                        &:hover {
                            opacity: 0.86;
                        }
                        .type-product {
                            position: absolute;
                            right: 0;
                            top: 22px;
                            padding: 6px 22px;
                            background: rgba(25, 138, 198, 0.89);
                            border-radius: 5px 0px 0px 5px;
                            font-size: 12px;
                            line-height: 15px;
                            color: #F2F2F2;
                        }
                        .location {
                            position: absolute;
                            width: 100%;
                            padding: 5px 0 5px 17px;
                            bottom: 0;
                            background: rgba(45, 44, 44, 0.81);
                            img {
                                width: 16px;
                                display: inline-block;
                            }
                            span {
                                font-size: 12px;
                                color: #F2F2F2;
                                margin-left: 5px;
                                padding: 5px 0;
                            }
                        }
                    }
                    .item-infor {
                        padding: 20px 17px;
                        p {
                            color: $main-color;
                            font-weight: 600;
                            display: inline-block;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden !important;
                            text-overflow: ellipsis;
                        }
                        .group-infor {
                            justify-content: space-between;
                            margin-top: 25px;
                            .left {
                                img {
                                    display: inline;
                                }
                                span {
                                    font-weight: 400;
                                    font-size: 12px;
                                    color: $main-black;
                                    margin-left: 5px;
                                }
                            }
                            .right {
                                span {
                                    &:first-child {
                                        font-weight: 400;
                                        font-size: 14px;
                                        color: $main-black;
                                    }
                                    &:last-child {
                                        color: $main-color;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                    .audiance {
                        justify-content: space-between;
                        background-color: $main-color;
                        padding: 8px 16px;
                        color: #F2F2F2;
                        border-radius: 5px;
                        p {
                            margin-bottom: 0;
                            margin-top: 2px;
                            font-weight: 400;
                            font-size: 14px;
                            span {
                                font-size: 14px;
                                color: #F2C94C;
                            }
                        }
                    }
                }
            }
            .slick-arrow {
                &.slick-prev {
                    &::before {
                        content: '';
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-right: 10px solid $main-black;
                        font-size: 0;
                    }
                }
                &.slick-next {
                    &::before {
                        content: '';
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 10px solid $main-black;
                        font-size: 0;
                    }
                }
            }
        }
        .seemore {
            color: $main-color;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1300px) {
    #homepage {
        #special-product {
            .list-item {
                .slick-arrow {
                    &.slick-prev {
                        left: -5px;
                    }
                    &.slick-next {
                        right: -5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #homepage {
        .banner {
            width: 100%;
            .cover-img {
                .img-slider {
                    height: 250px;
                    .content-banner {
                        p {
                            &:first-child {
                                font-size: 14px;
                                margin-bottom: 15px !important;
                            }
                            &:nth-child(2) {
                                font-size: 16px;
                                margin-bottom: 15px !important;
                            }
                        }
                        .group-btn-banner {
                            .btn-project {
                                padding: 5px 10px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .category {
            .cat-item {
                margin-top: 16px;
            }
        }
        .describe {
            .describe-left {
                margin-bottom: 30px;
                .block-content {
                    padding-right: 15px;
                }
            }
            .describe-right {
                padding: 0;
                padding-right: 15px !important;
                .col-12 {
                    margin-bottom: 30px !important;
                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
        #special-product {
            .list-item {
                .slick-arrow {
                    &.slick-prev {
                        left: -5px;
                    }
                    &.slick-next {
                        right: -5px;
                    }
                }
            }
        }
    }
}