.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size:11px;
    font-weight: 700;
    color: #F2F2F2;;
    background-color: $main-color;
    display: inline-block;
    cursor: pointer;
    padding: 5px 16px;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
}