#manage-project{
    .wrap{
        padding: 20px 37px 25px 37px;
        .title{
            font-size: 20px;
            color: $main-color;
            margin-bottom: 20px;
            font-weight: 600;
        }
        .group-function{
            .input-search{
                border: 0.75px solid #B7B5B5;
                height: 30px;
                max-width: 250px;
                box-sizing: border-box;
                border-radius: 8px;
                margin-right: 15px;

                &::placeholder{
                    font-size: 12px;
                    margin-left: 15px;
                    text-indent: 20px;
                    background-image: url('@/assets/svg/icon-head.svg');
                    background-position:left;
                    background-repeat: no-repeat;
                }
            }
            .option-search{
                margin-right:15px;
                width: 150px;
                .vue-treeselect__control{
                    height: 30px;
                    border-radius: 8px;
                    border: 0.75px solid #B7B5B5;
                    .vue-treeselect__single-value{
                        line-height: 28px;
                        font-size: 12px;
                    }
                    .vue-treeselect__placeholder{
                        margin-top: -2px;
                        font-size: 12px;
                    }
                }
            }
            .dropdown-all{
                margin-right:15px ;
                .dropdown-toggle{
                    border: 0.75px solid #B7B5B5;
                    box-sizing: border-box;
                    border-radius: 8px;
                    height: 30px;
                    padding-top: 4px;
                    .title-dropdown{
                        font-size: 12px;
                        color: $main-black;
                    }
                }

            }
            .search-date{
                margin-right:20px ;
                .vue-treeselect__control{
                    width: 140px;
                    height: 30px;
                    .vue-treeselect__single-value{
                        line-height: 28px;
                    }
                    .vue-treeselect__placeholder{
                        margin-top: -2px;
                    }
                }
            }
            .btn-search{
                cursor: pointer;
                background-color:$main-color;
                color: #F2F2F2;
                height: 30px;
                text-align: center;
                padding: 6px 20px 0 20px;
                border-radius: 8px;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
    .table-custom{
        &.table-history{
            thead{
                background: rgba(229, 229, 229, 0.8);
                tr{
                    th{
                        color: $main-black;
                        font-size: 13px;
                        font-weight: 600;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        position: relative;
                        width: 170px;
                        text-align: center;
                        padding-left: 0 !important;
                        &::after{
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 12px;
                            width: 1px;
                            height: 16px;
                            background-color:  rgba(130, 130, 130, 0.5);
                        }
                        &:first-child{
                            padding-left: 10px !important;
                        }
                        &:last-child{
                            width: auto;
                            text-align: left;
                            padding-left: 30px !important;
                            &::after{
                                width: 0;
                            }
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        text-align: center;
                        &:first-child{
                            padding-left: 0;
                        }
                        &:last-child{
                            text-align: left;
                        }
                    }
                }
            }
        }
        thead{
            background: rgba(229, 229, 229, 0.8);
            tr{
                th{
                    color: $main-black;
                    font-size: 13px;
                    font-weight: 600;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    position: relative;
                    text-align: center;
                    &:first-child{
                        padding-left: 37px;
                        text-align: left;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    padding-top: 10px;
                    padding-bottom: 16px;
                    width: 20%;
                    text-align: center;
                    &:first-child{
                        padding-left: 37px;
                        max-width: 220px;
                        text-align: left;
                        width: 40%;
                    }
                }
            }
            .name{
                font-size: 13px;
                color: $main-color;
                min-width: 200px;
                font-weight: 500;
            }
            .price{
                font-size: 12px;
                color: $main-black;
            }
            .status{
                padding-top: 6px;
            }
            #dropdown-duedate{
                .dropdown-toggle{
                    padding-top: 3px;
                }
                .dropdown-menu{
                    top: -20px !important;
                }
            }
        }
    }
}