#market {
    .mrin-4 {
        margin: 0 -18px;
    }
    .padding-19 {
        padding: 0 19px;
    }
    background-color: #f2f2f2;
    .container-fluid {
        .title {
            font-weight: 600;
            font-size: 27px;
            line-height: 35px;
            text-align: center;
            color: #209cd7;
        }
        .line {
            border-top: 3px solid #F2C94C;
            margin-top: 19px;
            width: 10%;
            margin: 0 auto
        }
        .nav {
            ul {
                display: flex;
                justify-content: space-between;
                padding-left: 0;
                list-style: none;
                margin-left: 18px;
                li {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 18px;
                    color: #828282;
                    margin-right: 23px;
                    height: 24px;
                }
                .b-active {
                    color: $main-color;
                    border-bottom: 2px solid #F2C94C;
                }
            }
        }
        .box {
            .boxItem {
                background: #fff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                .imgTop {
                    width: 100%;
                    min-height: 240px;
                }
                .content {
                    padding: 18px 20px 14px 14px;
                    h3 {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        color: #209cd7;
                    }
                    .evaluate {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .left {
                            display: flex;
                            align-items: center;
                            .text {
                                line-height: 11px;
                                font-size: 11px;
                                font-weight: 400;
                                margin-left: 9px;
                                color: $main-black;
                                span {
                                    color: #209cd7;
                                }
                            }
                            img {
                                width: 30px;
                                height: 30px;
                                border-radius: 30px;
                            }
                        }
                        .right {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .one {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                img {
                                    width: 16px;
                                    height: 13px;
                                }
                                p {
                                    margin: 0;
                                    line-height: 11px;
                                    font-size: 11px;
                                    font-weight: 400;
                                    margin-left: 9px;
                                    color: #828288;
                                }
                            }
                        }
                    }
                }
            }
        }
        .next {
            color: #209cd7;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 992px) {
    .mrin-4 {
        margin: 0 -10px !important;
    }
    .padding-19 {
        padding: 0 15px !important;
    }
}

@media screen and (max-width:767px) {
    #market .container-fluid .box .evaluate {
        margin-bottom: 20px;
    }
    #market {
        .mb {
            margin-bottom: 35px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}