#managerMessage {
    color: $main-black;
    .boxMessage {
        border-radius: 5px;
        background-color: #fff;
        height: 698px;
        // height: 79vh;
        min-width: 381px;
        width: 381px;
        box-sizing: border-box;
        padding-bottom: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .wrapGeneral {
            border-bottom: 1px solid #F2F2F2;
            height: 97px;
            padding: 20px 16px;
            .search-top {
                height: 32px;
                width: 100%;
                box-sizing: border-box;
                justify-content: space-between;
                align-items: center;
                input {
                    border: 0.75px solid #B7B5B5;
                    background: #fff;
                    width: 235px;
                    font-weight: 500;
                    line-height: 15px;
                    border-radius: 5px;
                    padding: 0 15px;
                    height: 30px;
                    &::placeholder {
                        font-size: 12px;
                        margin-left: 18px !important;
                        text-indent: 20px;
                        background-image: url('@/assets/svg/icon-head.svg');
                        background-position: left;
                        background-repeat: no-repeat;
                    }
                }
                &.short-input {
                    width: 282px;
                }
                .button {
                    cursor: pointer;
                    width: 97px;
                    height: 25px;
                    background: #198AC6;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 13px;
                    line-height: 25px;
                    text-align: center;
                    display: inline;
                }
            }
            .general {
                margin: 0 -10px;
                align-items: center;
                margin-top: 14px;
                .item {
                    border-right: 0.5px solid #4F4F4F;
                    line-height: 16px;
                    padding: 0 10px;
                    span {
                        color: $main-color;
                        font-weight: 700;
                    }
                    &:last-child {
                        border: none;
                    }
                }
                .active {
                    color: $main-color;
                    font-weight: 700;
                }
            }
        }
        .wrapMessage {
            padding: 0px 16px;
            height: 600px;
            // height: 66vh;
            overflow-y: scroll;
            padding-bottom: 15px;
            .messageItem {
                margin-top: 15px;
                padding: 13px 5px;
                background: rgba(255, 255, 255, 0.92);
                border-radius: 5px;
                border-bottom: 1px solid #f2f2f2;
                &:hover {
                    background-color: #F2F2F2;
                }
                &:last-child {
                    border: none;
                }
                img {
                    width: 35px;
                    height: 35px;
                    margin-right: 16px;
                }
                .not-avatar{
                    width: 40px;
                    height: 35px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                    color: $main-color;
                    align-items: center;
                    border: 2px solid $main-color;
                    margin-right: 16px;
                    font-size: 11px;
                }
                .content {
                    width: 100%;
                    .top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        top: -3px;
                        .name {
                            font-weight: 700;
                            color: $main-color;
                            display: none;
                        }
                        .company {
                            font-weight: 700;
                        }
                        .time {
                            font-weight: 500;
                        }
                    }
                    .bottom {
                        position: relative;
                        top: 3px;
                        justify-content: space-between;
                        align-items: center;
                        .content-message {
                            padding-right: 40px;
                            line-height: 14px;
                            height: 14px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                        }
                        .isMessage {
                            img {
                                width: 2px;
                                height: 8px;
                                position: relative;
                                top: -6px;
                            }
                            .notify {
                                color: #FFFFFF;
                                width: 15px;
                                height: 15px;
                                background-color: #D80027;
                                border-radius: 5px;
                                margin-right: 9px;
                                text-align: center;
                                display: none;
                            }
                        }
                    }
                }
                &.active {
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    .messageItem {
                        border: none;
                    }
                    .content {
                        .top {
                            .name {
                                display: block !important;
                            }
                            .company {
                                color: $main-color;
                                font-weight: 500;
                            }
                        }
                        .isMessage {
                            img {
                                display: none;
                            }
                            .notify {
                                display: block !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .contentWrap {
        border-radius: 5px;
        background-color: #fff;
        height: 698px;
        width: 810px;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .contentTop {
            padding: 16px 26px;
            border-bottom: 1px solid #F2F2F2;
            justify-content: space-between;
            align-items: center;
            .title {
                font-size: 20px;
                color: #E78F1C;
                font-weight: bold;
            }
            .wrapDate {
                display: flex;
                align-items: center;
                span {
                    color: $main-color;
                }
            }
        }
        .message {
            height: 525px;
            overflow: auto;
            padding: 0 16px;
            .dateMessage {
                font-size: 12px;
                text-align: center;
                margin-bottom: 20px;
            }
            .send {
                margin-bottom: 20px;
                align-items: flex-end;
                .contentSend {
                    background-color: #f2f2f2;
                    border-radius: 5px;
                    padding: 8px 16px;
                    max-width: 400px;
                    justify-content: flex-start;
                    margin-top: 6px;
                    align-self: flex-start;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                img {
                    width: 35px;
                    height: 35px;
                    margin-right: 15px;
                }
            }
            .receive {
                margin-bottom: 20px;
                align-items: flex-end;
                justify-content: flex-end;
                .contentReceive {
                    max-width: 400px;
                    margin-top: 6px;
                    padding: 8px 16px;
                    color: #fff;
                    align-self: flex-end;
                    background-color: $main-color;
                    border-radius: 5px;
                    &:first-child {
                        margin-top: 0px;
                    }
                }
                img {
                    width: 35px;
                    height: 35px;
                    margin-left: 15px;
                }
            }
        }
        .wrapFill {
            border: 0.75px solid #B7B5B5;
            border-radius: 5px;
            margin: 14px 81px 0px 65px;
            height: 60px;
            padding: 22px;
            justify-content: space-between;
            align-items: center;
            input {
                border: none;
                width: 63%;
                &::placeholder {
                    color: #ADABAB;
                    font-size: 13px;
                }
            }
            .sending {
                font-size: 13px;
                line-height: 31px;
                background-color: $main-color;
                padding: 0 18px;
                border-radius: 5px;
                color: #fff;
                font-weight: 700;
                position: relative;
                top: -1px;
                border: 0;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .wrapFill {
        margin: 0px !important;
        margin: 0px 16px !important;
        input {
            width: 50%;
        }
        .sending {}
    }
}

@media screen and (max-width: 992px) {
    .boxMessage {}
    .contentWrap {
        .contentTop {
            .title {}
            .wrapDate {
                span {}
            }
        }
        .message {
            .dateMessage {}
            .send {
                .contentSend {}
                img {}
            }
            .receive {
                .contentReceive {}
                img {}
            }
        }
        .wrapFill {
            margin: 0px 16px !important;
            input {
                width: 57% !important;
            }
            .sending {}
        }
    }
}