#modal-custom-form-login {
    .modal-md {
        width: 410px;
    }
    .modal-header {
        border-bottom: 0 !important;
        padding-bottom: 0;
    }
    .wrapperPhoneOTP {
        .verifyOTP {
            display: inline;
            width: 20%;
            border-radius: 0 !important;
        }
        .typeOtp {
            color: $main-black;
            font-weight: 600;
        }
        .anotherAccount {
            font-size: 13px;
            text-decoration: none;
            color: $main-color;
            cursor: pointer;
        }
    }
}

#modal-custom-form-contact,
#modal-select-bank {
    .modal-body {
        padding-top: 0!important;
        padding: 0 60px;
        padding-bottom: 40px;
    }
    .modal-md {
        width: 567px;
        max-width: 567px;
    }
    .modal-header {
        border-bottom: 0 !important;
        padding: 6px 15px;
        padding-bottom: 0;
    }
    .modal-contact {
        color: $main-black;
        .top {
            padding-bottom: 12px;
            border-bottom: 1.5px solid #f2f2f2;
            .title {
                font-weight: 600;
                line-height: 36px;
                span {
                    color: $main-color;
                }
            }
            .sub {
                line-height: 22px;
                margin-top: 9px;
                span {
                    color: $main-color;
                    font-weight: 600;
                }
            }
        }
        .center {
            padding: 18px 0;
            border-bottom: 1.5px solid #f2f2f2;
            .name-line {
                display: flex;
                align-items: baseline;
                margin-bottom: 15px;
                .label {
                    width: 180px;
                    font-size: 13px;
                    font-weight: 600;
                }
                .name {
                    flex-grow: 1;
                    font-weight: 600;
                    font-size: 14px;
                    color: #D80027;
                }
            }
            .phone-line {
                display: flex;
                align-items: baseline;
                margin-bottom: 15px;
                .label {
                    width: 180px;
                    font-size: 13px;
                    font-weight: 600;
                }
                .phone {
                    flex-grow: 1;
                    font-weight: 600;
                    font-size: 14px;
                    color: $main-color;
                }
            }
            .email-line {
                display: flex;
                align-items: baseline;
                .label {
                    width: 180px;
                    font-size: 13px;
                    font-weight: 600;
                }
                .email {
                    flex-grow: 1;
                    font-weight: 600;
                    font-size: 14px;
                    color: $main-color;
                }
            }
        }
        .bottom {
            padding-top: 36px;
            .submit {
                font-weight: 500;
                background-color: $main-color;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                color: #fff;
                justify-content: center;
                display: flex;
                align-items: center;
            }
        }
    }
}

#modal-select-bank {
    .modal-md {
        width: 700px;
        max-width: 700px;
    }
}

#modal-change-phone-form-submit,
#modal-change-tax-form-submit {
    .modal-header {
        margin-bottom: 5px !important;
    }
    .modal-body {
        padding-bottom: 50px !important;
    }
    .formCore {
        input {
            &::placeholder {
                margin-top: -5px !important;
                // color: red;
            }
        }
    }
}

#modal-show-villa,
#modal-cotact-form-submit,
#modal-change-phone-form-submit,
#modal-change-tax-form-submit,
#modal-survey,
#modal-survey-contact,
#modal-survey-customer-contact,
#modal-payment-required,
#modal-payment-report,
#modal-survey-update,
#modal-deal-update,
#modal-infor-project {
    .modal-body {
        padding-top: 0!important;
        padding: 0 60px;
        padding-bottom: 60px;
    }
    .modal-md {
        width: 850px;
        max-width: 850px;
    }
    .modal-header {
        border-bottom: 0 !important;
        padding: 6px 15px;
        padding-bottom: 0;
    }
    .formCore {
        .content {
            padding: 0;
            .title {
                color: $main-black;
                span {
                    color: $main-color;
                }
            }
            .description {
                span {}
            }
            .group-content {
                .form-group {
                    input,
                    textarea {
                        &::placeholder {}
                    }
                    .custom-checkbox {
                        label {
                            span {}
                        }
                    }
                    label {}
                    .btn-upload {
                        img {}
                        padding-top: 0px !important;
                    }
                    .type-upload {}
                    .verifyOTP {
                        display: inline;
                        width: 20%;
                        border-radius: 0 !important;
                    }
                }
            }
            .btn-now {
                padding: 8px 0;
                &.save {}
            }
        }
    }
}

#modal-show-villa {
    .modal-body {
        padding-bottom: 0;
    }
    .formCore {
        .content {
            padding-bottom: 20px;
        }
        .form-group {
            padding: 0 15px;
            margin-bottom: 0;
            .service {
                color: $main-black;
                font-weight: 500;
            }
            label {
                margin-bottom: 0;
                color: $main-color;
            }
            .content-villa {
                font-size: 12px;
                color: $main-black;
                line-height: 26px;
            }
            ul {
                list-style-position: inside;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
            .image {
                margin-right: -9px;
                margin-left: -7px;
                .img {
                    padding: 0 8px;
                }
                .imgVilla {
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 190px;
                    border-radius: 8px;
                    margin-bottom: 20px;
                }
            }
        }
        .line-bot {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #F2F2F2;
            margin: 15px 0;
        }
    }
}

#modal-create-update-project {
    .modal-header {
        border-bottom: 0;
        padding-bottom: 0;
    }
    .modal-body {
        padding: 0 75px 0 75px;
        .itemComponent {
            height: 150px;
            border-radius: 5px;
            margin-bottom: 15px;
            @extend .background__img;
            position: relative;
            i {
                position: absolute;
                top: 5px;
                right: 10px;
                cursor: pointer;
            }
        }
    }
    .modal-md {
        width: 768px;
        max-width: 768px;
    }
}
#modal-survey,#modal-cotact-form-submit{
    .modal-body{
        padding: 0;
        .content{
            .title{
                margin-bottom: 0;
                padding-left: 60px;
                padding-bottom: 20px;
                border-bottom: 1.5px solid #F2F2F2;
                text-transform: uppercase;
                &.isCancel{
                    color: $main-black !important;
                    font-weight: 600;
                    text-transform: none;
                }
                &.hide-border{
                    border-bottom: 0;
                    padding-bottom: 10px;
                }
            }
        }
        .group-content{
            padding: 0 60px 60px 60px;
        }
    }
}
#modal-survey-contact,#modal-survey-customer-contact,#modal-payment-required,#modal-payment-report{
    .modal-body{
        padding: 0;
        .content{
            margin-bottom:50px ;
            .title{
                color: $main-black !important;
                padding-left: 60px;
                padding-right: 60px;
                padding-bottom: 20px;
                border-bottom: 1.5px solid #F2F2F2;
                line-height: 2;
            }
            .group-infor{
                padding-left: 60px;
                padding-bottom: 20px;
                border-bottom: 1.5px solid #F2F2F2;
                .key{
                    font-size: 13px;
                    font-weight: 600;
                    color: $main-black;
                    line-height: 2;
                }
                .value{
                    font-size: 14px;
                    font-weight: 600;
                    color: $main-color;
                }
            }
            .footer{
                padding: 0 60px;
                margin-top: 25px;
                .btn-confirm{
                    @extend .flex-center;
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 500;
                    color: white;
                    background-color: $main-color;
                    padding: 10px 0;
                    border-radius: 5px;
                    &.update{
                        background-color:#3A3A3A !important;
                    }
                }
            }
        }
    }
}
#modal-survey-update,#modal-deal-update{
    .modal-body{
        padding: 0;
        .content{
            margin-bottom:50px ;
            .title{
                color: $main-black !important;
                padding-left: 60px;
                padding-right: 60px;
                padding-bottom: 20px;
                line-height: 2;
            }
            .group-infor{
                padding-left: 60px;
                .key{
                    font-size: 13px;
                    font-weight: 600;
                    color: $main-black;
                    line-height: 2;
                }
                .value{
                    font-size: 14px;
                    font-weight: 600;
                    color: $main-color;
                }
            }
            .footer{
                padding: 0 60px;
                margin-top: 30px;
                .btn-confirm{
                    @extend .flex-center;
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 500;
                    color: white;
                    background-color: $main-color;
                    padding: 10px 0;
                    border-radius: 5px;
                    width: 100%;
                    border-color: transparent;
                    width: 100%;
                    &.cancel{
                        background-color: #D80027;
                    }
                    &.update{
                        background-color:#4F4F4F;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    #modal-custom-form-login,
    #modal-custom-form-contact,
    #modal-select-bank,
    #modal-cotact-form-submit,
    #modal-change-phone-form-submit,
    #modal-change-tax-form-submit,
    #modal-show-villa,
    #modal-survey, #modal-survey-contact,#modal-survey-customer-contact,#modal-payment-required,#modal-payment-report,#modal-survey-update, #modal-deal-update {
        .modal-md {
            width: auto !important;
        }
    }
    #modal-custom-form-contact,
    #modal-select-bank,
    #modal-cotact-form-submit,
    #modal-change-phone-form-submit,
    #modal-change-tax-form-submit,
    #modal-show-villa,
    #modal-survey,#modal-survey-contact,#modal-survey-customer-contact,#modal-payment-required,#modal-payment-report,#modal-survey-update, #modal-deal-update {
        .modal-body {
            padding: 1rem !important;
            height: auto;
        }
    }
    #modal-create-update-project {
        .modal-md {
            width: auto !important;
        }
    }
    #modal-show-villa {
        .modal-header {
            padding-left: 1rem;
        }
    }
    .btn-now {
        margin-bottom: 1.7rem !important;
    }
}

#modal-custom-form-login,
#modal-show-villa {
    padding-left: 0px !important;
}

