#modal-custom-form-login {
    .modal-md {
        width:380px;
    }

    .modal-header{
        border-bottom: 0 !important;
        padding-bottom: 0;
    }
}
  
@media screen and (max-width:768px) {
    #modal-custom-form-login {
        .modal-md {
            width:100%;
        }
    }
}