.buyTokenPageWrap {
    .tokenPacksWrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .tokenItem {
        min-width: 138px;
        text-align: center;
        background: transparent;
        .tokenItemTop {
            border-radius: 5px 5px 0px 0px;
            .shouldInfo {
                font-size: 14px;
                padding: 5px 0;
                background: rgba(231, 143, 28, 0.89);
                font-weight: bold;
                color: $white;
                border-radius: 5px 5px 0px 0px;
            }
            .tokenVal {
                border-radius: 5px 5px 0px 0px;
                padding: 6px 0;
                background: $main-black;
                color: $white;
                font-size: 14px;
                .tokenNum {
                    font-weight: bold;
                    font-size: 40px;
                    color:#FFDA44;
                }
            }
            .priceVal {
                font-size: 13px;
                color: $white;
                background: $main-black;
                font-weight: bold;
                padding-bottom: 10px;
            }
        }
        .tokenItemBot {
            border: 0.5px solid #828282;
            border-radius: 0px 0px 5px 5px;
            background: transparent;
            .tokenPriceVal {
                font-size: 12px;
                color: $main-black;
                background: $white;
                font-weight: 500;
                padding: 10px 0 5px;
            }
            .saveVal {
                color: #D80027;
                font-weight: bold;
                font-size: 12px;
                height: 20px;
            }
            .buyBtn {
                button {
                    width: 100%;
                }
                padding: 10px 10px 15px;
            }
        }
        &.shouldBuy {
            margin-bottom: 15px;
            .tokenVal {
                border-radius: 0;
            }
            .tokenVal {
                background: $main-color;
            }
            .priceVal {
                background: $main-color;
            }
            .buyBtn {
                padding: 10px 10px 0;
            }
            .tokenItemBot {
                padding-bottom: 30px;
            }
            .tokenItemBot, .tokenItemTop {
                box-shadow: 1px 1px 4px rgb(0 0 0 / 25%);
            }
        }
    }

    .fieldLabel {
        font-weight: bold;
        font-size: 13px;
        span.info {
            color: $main-color;
            font-weight: normal;
            font-size: 11px;
        }
        span.dot {
            color: $red;
        }
    }
    .inforBorderWrap {
        color: #ADABAB;
        border: 0.75px solid #ADABAB;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 13px;
        margin-top: 13px;
        img {
            height: 10px;
            width: 10px;
        }
    }
    .policyInfoWrap {
        max-height: 150px;
        min-width: 50px;
        overflow-y: auto;
    }

    .paymentItem {
        border: 0.5px solid #828282;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 5px 5px 15px;
        width: 100%;
        max-width: 200px;
        height: 166px;
        .payIcon {
            padding-top: 10px;
        }
        .payText {
            font-weight: bold;
            font-size: 13px;
            color: #4F4F4F;
            padding: 2px;
            width: 110px;
            text-align: center;
            line-height: 25px;
        }
        .paySubText {
            font-size: 12px;
            width: 125px;
            color: #828282;
            text-align: center;
        }
        .payBtn {
            padding: 0px 10px;
            width: 100%;
            button {
                width: 100%;
            }
        }
    }
    .request-money-table {
        .headWrap {
            border-top: 1px solid #F2F2F2;
            border-bottom: 1px solid #F2F2F2;
        }
        .headItem {
            padding: 6px 16px;
            min-width: 180px;
        }
        .bodyItem {
            padding: 16px 16px 0;
            font-size: 13px;
            font-weight: 500;
            min-width: 180px;
            .headItem {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .buyTokenPageWrap {
        .tokenPacksWrap {
            display: flex;
            flex-direction: column;
        }
        .tokenItem {
            width: 200px;
            margin-bottom: 20px;
            &.shouldBuy {
                margin-bottom: 20px;
                .tokenItemBot {
                    padding-bottom: 0;
                }
                .buyBtn {
                    padding: 10px 10px 15px;
                }
            }
        }
        .paymentItem {
            margin: 10px auto;
        }
    }
    .request-money-table {
        text-align: left !important;
        .headWrap {
            display: none;
        }
        .bodyWrap {
            flex-direction: column;
            .bodyItem {
                padding-left: 0;
                .headItem {
                    padding-left: 0;
                    display: block;
                    font-weight: bold;
                    font-size: 13px;
                    color: $main-black;
                }
            }
        }
    }
}