.vue-notification-group{
    .custom-noti{
        background-color: #161616;
        color: white;
        padding:10px 20px;
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        margin-top: 5px;
        .text-noti{
            font-size: 14px;
        }
        .btn-close{
            cursor: pointer;
            color: white;
            text-decoration: none ;
            font-size: 13px;
        }
    }
  }