#profileMember {
    .profileSection {
        min-height: 600px;
        background: white;
        position: relative;
        display: flex;

        .col-left {
            width: 220px;
            padding: 20px;
            min-height: 600px;
        }

        .col-right {
            flex: 1;
            padding: 20px;
            min-height: 600px;

            .profile-description {
                
            }
        }
    }
}