#project {
    background: #ecf6fa;
    .line {
        border: 1px solid #F2F2F2;
        margin-bottom: 4px;
    }
    .left {
        border-radius: 5px;
        background-color: #fff;
        box-sizing: border-box;
        padding-bottom: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:nth-child(2) {
            margin-top: 18px;
        }
        .title {
            padding: 20px 20px 10px 21px;
            font-weight: 600;
            color: $main-color;
        }
        .list {
            .item-title {
                padding: 10px 16px 3px;
                align-items: baseline;
                line-height: 25px;
                font-weight: 600;
                img {
                    position: relative;
                    top: 1px;
                    margin-right: 8px;
                }
            }
            .list-item {
                margin-left: 43px;
                padding-right: 15px;
                ul {
                    padding-left: 0;
                    margin-bottom: 0;
                    li {
                        font-weight: 400;
                        line-height: 25px;
                        color: $main-black;
                        &:hover{
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .checkbox {
            padding: 10px 20px 5px;
            .gr-check {
                display: flex;
                align-content: center;
                margin-bottom: 10px;
                input {
                    width: 15px;
                    height: 15px;
                    margin-right: 8px;
                }
                label {
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 15px;
                    margin-bottom: 0;
                    color: $main-black;
                }
            }
        }
        .seemore {
            color: $main-color;
            display: flex;
            line-height: 16px;
            justify-content: center;
            align-items: center;
            .circle {
                width: 4px;
                height: 4px;
                background: #209cd7;
                border-radius: 50%;
                transform: matrix(1, 0, 0, -1, 0, 0);
                margin-left: 6px;
            }
        }
        .boxs {
            h3 {
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
                color: #209cd7;
                padding: 0 12px;
            }
            img {
                width: 100%;
                border-radius: 5px;
            }
            .evaluate {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 12px;
                .lefts {
                    display: flex;
                    align-items: center;
                    .text {
                        line-height: 11px;
                        font-size: 11px;
                        font-weight: 400;
                        margin-left: 9px;
                        color: $main-black;
                        span {
                            color: #209cd7;
                        }
                    }
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 30px;
                    }
                }
                .rights {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .one {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        img {
                            width: 16px;
                            height: 13px;
                        }
                        p {
                            margin: 0;
                            line-height: 11px;
                            font-size: 11px;
                            font-weight: 400;
                            margin-left: 9px;
                            color: #828288;
                        }
                    }
                }
            }
        }
    }
    .box-title {
        margin-top: 30px;
        .title {
            font-weight: 600;
            text-align: center;
            color: $main-color;
            margin-bottom: 5px;
        }
        .line {
            width: 55%;
            margin: 0 auto;
            border-bottom: 3px solid #F2C94C;
        }
    }
    .box-title {
        margin-top: 30px;
        .title {
            font-weight: 600;
            text-align: center;
            color: $main-color;
            margin-bottom: 5px;
        }
        .line {
            width: 55%;
            margin: 0 auto;
            border-bottom: 3px solid #F2C94C;
        }
    }
    .right {
        border-radius: 5px;
        border: 1px solid #F2F2F2;
        background-color: #fff;
        box-sizing: border-box;
        padding-bottom: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .top {
            height: 67px;
            display: flex;
            align-items: center;
            padding: 0px 22px;
            .search-top {
                height: 32px;
                width: 415px;
                border: 0.75px solid #B7B5B5;
                box-sizing: border-box;
                border-radius: 5px;
                padding-left: 18px;
                margin-right: 15px;
                line-height: 29px;
                input {
                    border: none;
                    width: 90%;
                    margin-left: 3px;
                    font-weight: 500;
                    line-height: 15px;
                    &::placeholder{
                        margin-top: 10px;
                        font-size: 12px;
                        margin-left: 15px;
                        text-indent: 20px;
                        background-image: url('@/assets/svg/icon-head.svg');
                        background-position:left;
                        background-repeat: no-repeat;
                    }
                }
                &.short-input {
                    width: 282px;
                }
            }
            .search-center {
                height: 32px;
                width: 150px;
                box-sizing: border-box;
                border-radius: 5px;
                margin-right: 15px;
                &.range-time{
                    .vue-treeselect__control{
                        .vue-treeselect__placeholder{
                            &::before{
                                background-image: url('@/assets/svg/icon-calendar-grey.svg');
                            }
                        }
                    }

                }
                .vue-treeselect__control{
                    border: 1px solid #B7B5B5;
                    height: 31px;
                    position: relative;
                    .vue-treeselect__single-value{
                        line-height: 29px;
                    }
                    .vue-treeselect__placeholder{
                        margin-top: -2px;
                        text-indent: 25px;
                        &::before{
                            position: absolute;
                            content: ' ';
                            margin-left: 10px;
                            background-image: url('@/assets/svg/icon-location-black.svg');
                            background-size: 15px;
                            background-repeat: no-repeat;
                            height:15px;
                            width: 15px;
                            left: 0;
                            top: 9px;
                        }
                    }
                }
            }
            .button {
                cursor: pointer;
                padding: 4px 20px;
                background: #209cd7;
                border-radius: 5px;
                color: #fff;
                font-size: 13px;
                line-height: 21px;
                text-align: center;
            }
        }
        .center {
            .boxinfo {
                padding: 20px;
                padding-top: 15px;
                .introduce {
                    display: flex;
                    align-content: flex-start;
                    .cover-img {
                        height: 120px;
                        width: 100px;
                        border-radius: 5px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        position: relative;
                        margin-right: 16px;
                        margin-top: 15px;
                    }
                    .content {
                        flex: 1;
                        padding-right: 50px;
                        max-width: 530px;
                        &.rent{
                            max-width: 100% !important;
                        }
                        .title {
                            line-height: 24px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .title-icon {
                                align-items: baseline;
                                img {
                                    position: relative;
                                    top: 3px;
                                    margin-right: 8px;
                                }
                            }
                            .sub {
                                font-weight: 600;
                                line-height: 24px;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            .icon {
                                display: flex;
                                line-height: 15px;
                                align-items: baseline;
                                .name {
                                    font-weight: 500;
                                }
                                img {
                                    width: 14px;
                                    height: 13px;
                                    margin-right: 6px;
                                    position: relative;
                                    top: 1px;
                                }
                            }
                        }
                        .description {
                            line-height: 25px;
                            height: 50px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                        }
                        .padding-right {
                            padding-right: 170px;
                        }
                        .group {
                            display: flex;
                            margin-top: 21px;
                            max-width: inherit;
                            flex-wrap: wrap;
                            .choose {
                                font-size: 12px;
                                font-weight: 600;
                                line-height: 16px;
                                text-align: center;
                                color: #fff;
                                margin-right: 8px;
                                border-radius: 5px;
                                background-color: #E78F1C;
                                padding: 2px 6px;
                                &.active {
                                    background-color: #77AD1F;
                                }
                            }
                        }
                        .group-bot {
                            align-items: baseline;
                            justify-content: space-between;
                            .group-2 {
                                align-items: center;
                                margin-top: 21px;
                                padding-right: 30px;
                                .two,
                                .three,
                                .four {
                                    font-size: 11px;
                                    span {
                                        color: $main-color;
                                        font-weight: 600;
                                        font-size: 13px;
                                    }
                                }
                                .one {
                                    padding-left: 0 !important;
                                    .human-name {
                                        display: initial;
                                        color: $main-color;
                                    }
                                    img {
                                        width: 15px;
                                        height: 15px;
                                    }
                                }
                                .one,
                                .two,
                                .three,
                                .four {
                                    border-right: 1px solid #828282;
                                    height: 15px;
                                    line-height: 17px;
                                    padding: 0 12px;
                                    text-align: center;
                                }
                                .four {
                                    border: none;
                                    padding-right: 0;
                                }
                            }
                            .like {
                                position: relative;
                                top: -2px;
                                font-weight: 600;
                                color: #F2C94C;
                                span {
                                    color: $main-black;
                                    font-weight: 400;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .nopadding {
                        padding-right: 0 !important;
                    }
                }
                .rate {
                    .star {
                        display: flex;
                        align-items: center;
                        .limit {
                            font-weight: 600;
                            color: #fff;
                            padding: 0px 3px;
                            background-color: #F2C94C;
                            border-radius: 5px;
                            margin-right: 5px;
                            height: 15px;
                            margin-top: 7px;
                        }
                        .st {
                            margin-left: 3px;
                            span {
                                font-weight: 600;
                                color: #F2C94C;
                            }
                        }
                    }
                    .contact {
                        margin-top: 27px;
                        .phone,
                        .email {
                            width: 100%;
                            height: 30px;
                            border-radius: 5px;
                            text-align: center;
                            background-color: $main-color;
                            border: 0 !important;
                            span {
                                line-height: 30px;
                                font-size: 13px;
                                font-weight: 600;
                                color: #fff;
                            }
                            &:disabled{
                                cursor:not-allowed;
                            }
                        }
                        .email {
                            margin-top: 12px;
                            background-color: #3A3A3A
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    #project {
        .center {
            .boxinfo {
                .introduce {
                    display: flex;
                    align-content: flex-start;
                    .cover-img {}
                    .content {
                        padding-right: 0px !important;
                        .title {
                            .sub {}
                            .icon {
                                .name {}
                                img {}
                            }
                        }
                        .description {}
                        .group {
                            .choose {
                                &.active {}
                            }
                        }
                    }
                }
                .rate {
                    .star {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        .limit {}
                        .st {
                            margin-top: 3px;
                            span {}
                        }
                    }
                    .contact {
                        color: red;
                        margin-top: 13px !important;
                        .phone,
                        .email {
                            span {}
                        }
                        .email {
                            margin-top: 6px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    #project {
        .left {
            .evaluate {
                flex-direction: column;
                align-items: flex-start !important;
                justify-content: flex-start;
                .rights {
                    margin-top: 10px !important;
                }
            }
        }
        .right {
            .top {
                .search-top {
                    margin-right: 12px !important;
                    max-width: 322px !important;
                    input {
                        width: 87%;
                    }
                }
                .short-input {
                    width: 242px !important;
                }
                .search-center {
                    margin-right: 12px !important;
                }
                .button {}
            }
            .center {
                .boxinfo {
                    .introduce {
                        .cover-img {}
                        .content {
                            .title {
                                flex-direction: column;
                                align-items: flex-start;
                                .sub {
                                    text-align: left;
                                }
                                .icon {
                                    margin-top: 5px;
                                    .name {}
                                    img {}
                                }
                            }
                            .description {
                                padding-right: 30px;
                                margin-top: 8px;
                            }
                            .group {
                                .choose {
                                    &.active {}
                                }
                            }
                            .group-bot {
                                .group-2 {
                                    flex-direction: column;
                                    align-items: flex-start;
                                    margin-top: 16px;
                                    .two,
                                    .three,
                                    .four {
                                        span {}
                                    }
                                    .one {
                                        .human-name {}
                                        img {
                                            position: relative;
                                            top: -3px;
                                        }
                                    }
                                    .one,
                                    .two,
                                    .three,
                                    .four {
                                        padding-left: 0 !important;
                                        border-right: none;
                                        margin-bottom: 8px;
                                    }
                                    .four {
                                        margin-bottom: 0px;
                                    }
                                }
                                .like {
                                    span {}
                                }
                            }
                        }
                    }
                    .rate {
                        margin-top: 22px !important;
                        .star {
                            flex-direction: row;
                            .limit {}
                            .st {
                                span {}
                            }
                        }
                        .contact {
                            display: flex;
                            .phone,
                            .email {
                                width: 140px;
                                span {}
                            }
                            .email {
                                margin-top: 0 !important;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    #project {
        .left {
            &:nth-child(2) {
                margin-bottom: 18px !important;
            }
            .evaluate {
                flex-direction: row;
                align-items: center !important;
                .right {
                    margin-top: 0 !important;
                }
            }
        }
        .margin-top {
            margin-top: 36px;
        }
        .right {
            .top-change {
                min-height: 160px;
                flex-direction: column;
                align-items: flex-start;
                padding: 26px 22px;
                .search-top {
                    margin-bottom: 13px !important;
                    input {}
                }
                .search-center {
                    margin-bottom: 13px !important;
                }
                .button {}
            }
            .center {
                .boxinfo {
                    .introduce {
                        .cover-img {}
                        .content {
                            .title {
                                .sub {}
                                .icon {
                                    .name {}
                                    img {}
                                }
                            }
                            .description {}
                            .group {
                                margin-top: 21px !important;
                                .choose {
                                    &.active {}
                                }
                            }
                        }
                    }
                    .rate {
                        margin-top: 22px !important;
                        .star {
                            .limit {}
                            .st {
                                span {}
                            }
                        }
                        .contact {
                            display: flex;
                            .phone,
                            .email {
                                span {}
                            }
                            .email {}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:555px) {
    #project {
        .left {
            &:nth-child(2) {
                margin-bottom: 18px !important;
            }
        }
        .right {
            .top {
                .search-top {
                    max-width: 297px !important;
                    input {}
                }
                .button {}
            }
            .center {
                .boxinfo {
                    .introduce {
                        .cover-img {}
                        .content {
                            .title {
                                .sub {}
                                .icon {
                                    .name {}
                                    img {}
                                }
                            }
                            .description {}
                            .group {
                                display: block;
                                margin-top: 5px !important;
                                .choose {
                                    margin-top: 8px;
                                    width: fit-content;
                                    float: left;
                                    &.active {}
                                }
                            }
                            .group-bot {
                                flex-direction: column;
                                .group-2 {
                                    padding-right: 0 !important;
                                    .one {
                                        padding-right: 0 !important;
                                        .human-name {}
                                    }
                                }
                                .like {
                                    margin-top: 18px;
                                }
                            }
                        }
                    }
                    .rate {
                        margin-top: 22px !important;
                        .star {
                            .limit {}
                            .st {
                                span {}
                            }
                        }
                        .contact {
                            display: flex;
                            .phone,
                            .email {
                                span {}
                            }
                            .email {}
                        }
                    }
                }
            }
        }
    }
}