.formCore {
    .content{
        padding: 36px 60px 90px 60px;
        .title{
            color: $main-color;
            font-weight: 600;
        }
        .description{
            color: $main-black;
            margin-bottom: 0;
            span{
                font-weight: 600;
                color: $main-black;
                &:first-child{
                    color: $main-color;
                }
            }
        }
        .group-content{
            .name-project{
                font-size: 16px;
                font-weight: 600;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .form-group{
                margin-bottom: 25px;
                input, textarea{
                    &::placeholder{
                        color: #ADABAB;
                        font-size: 12px;
                    }
                }
                .custom-checkbox{
                    label{
                        font-size: 12px;
                        font-weight: 500;
                        padding-top: 3px;
                        color: $main-black;
                        span{
                            color: $main-color;
                        }
                    }
                }
                label{
                    font-size: 13px;
                    color: $main-black;
                    font-weight: 600;
                }
                .btn-upload{
                    cursor: pointer;
                    padding: 0 13px;
                    background-color: $main-color;
                    color: white;
                    font-weight: 600;
                    border-radius: 5px;
                    min-width: 100px;
                    margin-right: 10px;
                    font-size: 11px;
                    line-height: 31px;
                    img{
                        margin-bottom: 5px;
                        width: 16px;
                        height: 14px;
                    }
                }
                .type-upload{
                    margin-top: 5px;
                    color: $main-color;
                    font-style: italic;
                    font-size: 13px;
                }
            }
            .itemComponent{
                height: 100px;
                border-radius: 5px;
                margin-bottom: 15px;
                @extend .background__img;
                position: relative;
                i{
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    cursor: pointer;
                }
            }
        }
        .btn-now{
            background-color: $main-color;
            color: #F2F2F2;
            font-size: 15px;
            border-radius: 5px;
            padding: 10px 0;
            border: 0;
            width: 100%;
            font-weight: 500;
            &.save{
                padding-right: 0;
                background-color: #3A3A3A;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .formCore {
        .content{
            padding: 30px;
            .group-content{
                margin-top: 15px !important;
                .form-group{
                    padding: 0 15px;
                    label{
                        padding-left: 0;
                    }
                    .custom-btn{
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .btn-upload{
                        max-height: 30px;
                        min-width: 115px;
                        padding-top: 7px !important;
                        padding-left: 14px !important;
                    }
                    .type-upload{
                        margin-top: -5px;
                    }
                    &.group-checkbox{
                        padding-left: 0 !important;
                        margin-bottom: 25px !important;
                    }
                }
            }
            .cutom-sm{
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
            .btn-now{
                margin-bottom: 25px;
                &.save{
                    margin-bottom: 0;
                }
            }
        }
    }
}