//block thi truong
#block {
    background: #fff;
    .title {
        text-align: center;
        font-weight: bold;
        line-height: 31px;
        color: #198AC6;
    }
    .line {
        height: 3px;
        width: 10%;
        margin: 0 auto;
        background-color: #F2C94C;
    }
    .blockinfo {
        .left {
            .box {
                display: flex;
                justify-content: space-between;
                padding: 25px 0;
                border-bottom: 1px solid #F2F2F2;
                .cover-img {
                    height: 168px;
                    width: 301px;
                    border-radius: 5px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: relative;
                    margin-right: 25px;
                    margin-top: 5px;
                }
                .content {
                    flex: 1;
                    .name {
                        font-weight: 700;
                        line-height: 28px;
                        color: $main-black;
                    }
                    .general {
                        margin-top: 10px;
                        display: flex;
                        .see {
                            color: $main-color;
                        }
                        ul {
                            display: flex;
                            align-items: center;
                            li {
                                margin-left: 30px;
                                font-size: 13px;
                                color: #828282;
                            }
                        }
                    }
                    .sub {
                        line-height: 26px;
                        color: $main-black;
                        height: 78px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                    }
                }
                &:first-child {
                    padding-top: 0;
                }
            }
        }
        .right {
            .register {
                .cover-letter {
                    border: 1px solid #F2F2F2;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    padding: 20px 13px;
                    min-height: 393px;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .icon {
                        width: 91px;
                        height: 91px;
                        background: $main-color;
                        border-radius: 50%;
                        position: relative;
                        .letter-img {
                            height: 28px;
                            width: 45px;
                            border-radius: 4px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(-32deg);
                        }
                    }
                    .text {
                        text-align: center;
                        padding: 0 15px;
                        .letter-name {
                            color: $main-black;
                            font-weight: bold;
                        }
                        .letter-sub {
                            color: $main-black;
                            line-height: 24px;
                        }
                    }
                    .check {
                        width: 100%;
                        input {
                            width: 100%;
                            border: 1px solid #adabab;
                            border-radius: 4px;
                            height: 32px;
                            outline: none;
                            padding-left: 10px;
                            padding-bottom: 2px;
                            color: #adabab;
                            font-size: 13px;
                            &::placeholder {
                                color: #adabab;
                                font-size: 13px;
                            }
                        }
                        .letter-search {
                            width: 100%;
                            height: 30px;
                            font-weight: bold;
                            border-radius: 4px;
                            background-color: $main-color;
                            color: #fff;
                            align-items: center;
                            justify-content: center;
                        }
                          
                    }
                }
                .sub-title {
                    font-weight: 700;
                    line-height: 20px;
                    color: $main-color;
                    margin-top: 37px;
                }
                .line {
                    width: 100px;
                    margin: 0;
                    margin-top: 4px;
                }
                .list {
                    .boxsmall {
                        display: flex;
                        margin: 13px 0;
                        .small-img {
                            height: 76px;
                            width: 128px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            position: relative;
                            margin-right: 13px;
                        }
                        .text {
                            flex: 1;
                            display: flex;
                            justify-content: baseline;
                            flex-direction: column;
                            .top {
                                line-height: 26px;
                                color: $main-black;
                                font-weight: 700;
                                position: relative;
                                top: -7px;
                                height: 52px;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                            }
                            .bot {
                                line-height: 20px;
                                font-size: 500;
                                color: #828282;
                                position: relative;
                                top: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// block nhan thong tin
#receiveInfo {
    background: #EDF6FA;
    .box {
        max-width: 630px;
        margin: 0 auto;
        .info {
            text-align: center;
            padding: 0 28px;
            .title {
                font-weight: 700;
                line-height: 40px;
                color: $main-black;
            }
            .sub {
                line-height: 26px;
                color: $main-black;
            }
            .search {
                width: 100%;
                height: 35px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                border: 0.75px solid #ADABAB;
                margin-top: 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 16px;
                background: #fff;
                input {
                    width: 400px;
                    height: 25px;
                    border: none;
                    font-size: 13px;
                    line-height: 26px;
                }
                .button {
                    font-weight: 700;
                    line-height: 17px;
                    width: 102px;
                    height: 25px;
                    color: #f2f2f2;
                    background-color: $main-color;
                    border-radius: 5px;
                    padding-top: 4px;
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    #block {
        .title {}
        .line {}
        .blockinfo {
            .left {
                .box {
                    .cover-img {}
                    .content {
                        .name {}
                        .general {
                            .see {}
                            ul {
                                li {}
                            }
                        }
                        .sub {}
                    }
                    &:first-child {}
                }
            }
            .right {
                .register {
                    margin-top: 36px;
                    .cover-letter {}
                    .sub-title {
                        margin-top: 0px;
                    }
                    .line {}
                    .list {
                        .boxsmall {
                            .text {
                                .top {}
                                .bot {}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    #block {
        .title {}
        .line {}
        .blockinfo {
            .left {
                .box {
                    .cover-img {
                        width: 208px;
                        margin-right: 22px;
                    }
                    img {
                        width: 209px;
                    }
                    .content {
                        .name {}
                        .general {
                            .see {}
                            ul {
                                li {}
                            }
                        }
                        .sub {}
                    }
                    &:first-child {}
                }
            }
            .right {
                .register {
                    .cover-letter {
                        margin-bottom: 36px;
                        .icon {}
                    }
                    .sub-title {
                        margin-top: 0px !important;
                    }
                    .line {}
                    .list {
                        .boxsmall {
                            .text {
                                .top {}
                                .bot {}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:556px) {
    #block {
        .title {}
        .line {}
        .blockinfo {
            .left {
                .box {
                    flex-direction: column;
                    .cover-img {
                        width: 100%;
                        height: 250px;
                        margin-right: 22px;
                    }
                    .content {
                        margin-top: 23px;
                        .name {}
                        .general {
                            .see {}
                            ul {
                                li {}
                            }
                        }
                        .sub {}
                    }
                    &:first-child {}
                }
            }
            .right {
                .register {
                    .cover-letter {
                        .icon {}
                    }
                    .sub-title {}
                    .line {}
                    .list {
                        .boxsmall {
                            .text {
                                .top {}
                                .bot {}
                            }
                        }
                    }
                }
            }
        }
    }
}