@media only screen and (max-width: 375px){
    #homepage {
        .banner{
            .cover-img {
                .img-slider{
                    padding: 50px 20px 30px 20px;
                    height: 420px !important;
                    align-items: flex-start;
                    .content-banner{
                        text-align: left !important;
                        p {
                            &:first-child{
                                font-size: 22px !important;
                                margin-bottom: 30px !important;
                            }
                            &:nth-child(2){
                                font-size: 18px !important;
                                margin-bottom: 55px !important;
                            }
                        }
                        .group-btn-banner{
                            display: block !important;
                            .btn-project{
                                height: 40px;
                                text-align: center;
                                font-size: 17px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                &:first-child{
                                    margin-right:  0 !important;
                                    margin-bottom: 20px !important;
                                }
                                &.quote{
                                    background-color:#E78F1C !important;
                                }
                            }
                        }
                    }
                }

            }
            .slick-dots{
                bottom: 25px !important;
            }
        }
        .category{
            padding-top: 25px !important;
            .category-title{
                margin-bottom: 15px !important;
                p{
                    font-size: 20px !important;
                    margin-bottom: 10px ;
                }
                .line{
                    width: 20%;
                }
            }
            .caterogry-list{
                .cat-item{
                    margin-top: 15px !important;
                }
            }

        }
        .describe{
            margin-top: 25px !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            background-color: #fff;
            .content-describe{
                .slogan{
                    display: none;
                    font-size: 20px ;
                    &.slogan-mobile{
                        display: block;
                        padding-left: 15px;
                    }
                }
                .describe-left{
                    order: 2;
                    margin-bottom: 0 !important;
                    .block-content{
                        margin-top:25px !important;
                        .block-title{
                            p{
                                font-size: 15px !important;
                            }
                        }
                        .content{
                            font-size: 14px !important;
                        }
                    }
                    .btn-registration{
                        margin-top: 25px !important;
                        width: 100%;
                        font-size: 14px !important;
                        height: 30px !important;
                    }
                }
                .describe-right{
                    .col-12{
                        margin-bottom: 25px !important;
                        &:last-child{
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }
        }
        #special-product{
            margin-top: 80px !important;
            padding-bottom: 0 !important;
            .title{
                margin-bottom: 20px !important;
                p{
                    font-size: 20px !important;
                    margin-bottom: 10px;
                }
                .line{
                    width: 20%;
                }
            }
            .list-item{
                .card-item{
                    padding-bottom: 0 !important;
                }
            }
            .seemore{
                margin-top: 25px !important;
            }
        }
        #company{
            margin-top: 25px ;
            .linepage{
                display: none;
            }
            .title{
                font-size: 20px !important;
                margin-bottom: 10px !important;
            }
            .line{
                width: 20%;
            }
            .all{
                margin-top: 15px !important;
            }
        }
        #market{
            margin-top: 0 !important;
            padding-top: 25px !important;
            padding-bottom: 25px !important;
            .title{
                font-size: 20px !important;
                margin-bottom: 10px;
            }
            .line{
                width: 20%;
            }
            .nav{
                margin-top: 25px !important;
            }
            .mb{
                margin-bottom: 16px !important;
                &:last-child{
                    margin-bottom: 0 !important;
                }
            }
            .seemore{
                margin-top: 25px !important;
                margin-bottom: 0 !important;
            }
        }
        #block1{
            .text{
                margin-top: 25px !important;
                margin-left: 25px !important;
                font-size: 19px;
                font-weight: normal;
                padding-right: 0;
            }
            .join{
                margin-left: 25px;
                font-size: 13px;
                font-weight: normal;
                color: #F2F2F2;
            }
            .img-designer{
                justify-content: flex-end;
                margin-top: -100px;
            }
        }
    }
}
